.movie_item {
    position: relative;
    margin: 40px 20px;
}
.movie_img {
    width: 20vw;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(35%);
    transition: 0.5s ease-in-out;
    border: 2px solid rgb(235, 235, 235);
}
.movie_img:hover {
    filter: brightness(100%);
}
.movie_title {
    font-family: "sebang";
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 15px;
    transform: translate(-50%, -50%);
}
