@font-face {
    font-family: "sebang-bold";
    src: url("../public/SEBANG\ Gothic\ OTF\ Bold.otf");
}
@font-face {
    font-family: "sebang";
    src: url("../public/SEBANG\ Gothic\ OTF.otf");
}
* {
    font-family: "sebang", sans-serif;
    font-size: 16px;
}
